* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .my-grid {
    display: grid;
    grid-template-columns: 12% auto;
    grid-template-rows: auto 122px;
  }

  .has-blue-background {
    background-color: #D0FFFE;
    border: 1px solid #285888;
  }

  .has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
  }

  .flexbox-container {
    display: flex;
    justify-content: space-evenly;
    padding: 22px;
    gap: 22px;
    margin-top: 2rem;
  }
